<h2>My Favorite Orgs</h2>
<ul>
  {{#each content as |o|}}
    {{github-org
      org=o
      on-fav-clicked='toggleFavorite'
    }}
  {{/each}}
</ul>

{{social-info
  name= 'Jessica Jung'
  ins= 'jessica.syj'
  github= 'stan-feng'
}}

{{outlet}}
